* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  height: 100vh;
  background: #000 repeat 0 0;
  background-image: url("../assets/home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
}

.universe body {
  background-image: url("../assets/universe.png");
}

.explorer body {
  background-image: url("../assets/explorer.png");
}

a {
  font-size: 2.4rem;
  color: #c4c4cc;
  text-decoration: none;
  font-weight: 400;
}

a.active {
  font-weight: 700;
  color: #fff;
}

a.link {
  width: fit-content;
  display: block;
  margin: 2.4rem auto 0;
  padding: 1.2rem 3.2rem;
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;

  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;

  transition: all 0.4s;
}
a.link:hover {
  background-color: #fff;
  color: #02799d;
}

header {
  display: flex;
  align-items: center;
  gap: 4.3rem;
  padding: 4rem 0 4rem 7.2rem;
}
header nav {
  display: flex;
  gap: 3.2rem;
}

#app {
  text-align: center;
  margin-top: 17.3rem;
}
.universe #app,
.explorer #app {
  margin: 6.3rem 0 0 10.2rem;
  text-align: left;
}

#app h1 {
  font-size: 4.8rem;
}
#app p {
  width: 80%;
  margin-top: 1.6rem;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  color: #e1e1e6;
}
